
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Spotify Search</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Enter artist" data-ng-model="query" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" data-ng-click="search(query)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group" id="contact-list">
                <li class="list-group-item" data-ng-repeat="artist in artists">
                    <div class="col-xs-12 col-sm-3">
                        <img data-ng-src="{{artist.thumbnail}}" alt="{{artist.name}}" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <span class="name">{{artist.name}}</span><br/>
                        <span class="text-muted"> <a data-ng-href="{{artist.openInSpotify}}">Open in spotify</a></span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>

</div>